.form-add-employee button
{
    color: white;
    background-color: #d048c2;
}

.form-add-employee button:hover
{
    background-color: #ff6ef1;
    color: white;
}

.button
{
    background-color: #633aa0;
    color: white;
    border: none;
}

.button:hover
{
    background-color: #8e61d3;
    color: white;
}